src/1312179_XML_QLKS2_1/WS_Dich_Vu_Nghiep_Vu/Service References/DataServiceRef/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tai_DS_Khach_San">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_Khach_SanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_Khach_SanResult" type="tns:ArrayOfCKhachSan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCKhachSan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CKhachSan" nillable="true" type="tns:CKhachSan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CKhachSan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Dien_Thoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Dia_Chi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tai_DS_Khu_Vuc">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_Khu_VucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_Khu_VucResult" type="tns:ArrayOfCKhuVuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCKhuVuc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CKhuVuc" nillable="true" type="tns:CKhuVuc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CKhuVuc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Khach_San" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tai_DS_Loai_Phong">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_Loai_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_Loai_PhongResult" type="tns:ArrayOfCLoaiPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCLoaiPhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLoaiPhong" nillable="true" type="tns:CLoaiPhong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLoaiPhong">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_Don_Gia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Tien_Nghi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_So_Khach_Toi_Da" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cap_Nhat_Gia_Loai_Phong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lp" type="tns:CLoaiPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cap_Nhat_Gia_Loai_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cap_Nhat_Gia_Loai_PhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tai_DS_Phieu_Thue">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_Phieu_ThueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_Phieu_ThueResult" type="tns:ArrayOfCPhieuThuePhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCPhieuThuePhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CPhieuThuePhong" nillable="true" type="tns:CPhieuThuePhong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CPhieuThuePhong">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_Ngay_Bat_Dau" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="_Ngay_Du_Kien_Tra" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="_Ngay_Ket_Thuc" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="_Tien_Tra" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Phong" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_DS_Ho_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_DS_CMND" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cap_Nhat_Tra_Phong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptp" type="tns:CPhieuThuePhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cap_Nhat_Tra_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cap_Nhat_Tra_PhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Them_Phieu_Thue_Phong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptp" type="tns:CPhieuThuePhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Them_Phieu_Thue_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Them_Phieu_Thue_PhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tai_DS_Phong">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_PhongResult" type="tns:ArrayOfCPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCPhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CPhong" nillable="true" type="tns:CPhong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CPhong">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Loai_Phong" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Tang" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tai_DS_QLKS">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_QLKSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_QLKSResult" type="tns:ArrayOfCTaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCTaiKhoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTaiKhoan" nillable="true" type="tns:CTaiKhoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTaiKhoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten_Dang_Nhap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Mat_Khau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Cap_Quan_Ly" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tai_DS_QLKV">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_QLKVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_QLKVResult" type="tns:ArrayOfCTaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tai_DS_Tang">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_TangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_TangResult" type="tns:ArrayOfCTang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCTang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTang" nillable="true" type="tns:CTang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Khu_Vuc" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tai_DS_Tiep_Tan">
        <s:complexType />
      </s:element>
      <s:element name="Tai_DS_Tiep_TanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tai_DS_Tiep_TanResult" type="tns:ArrayOfCTaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Khach_SanSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Khach_San" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Khach_SanSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_Khach_SanResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Khu_VucSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Khu_Vuc" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Khu_VucSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_Khu_VucResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Loai_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Loai_Phong" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Loai_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_Loai_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Cap_Nhat_Gia_Loai_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Cap_Nhat_Gia_Loai_Phong" />
  </wsdl:message>
  <wsdl:message name="Cap_Nhat_Gia_Loai_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Cap_Nhat_Gia_Loai_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Phieu_ThueSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Phieu_Thue" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Phieu_ThueSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_Phieu_ThueResponse" />
  </wsdl:message>
  <wsdl:message name="Cap_Nhat_Tra_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Cap_Nhat_Tra_Phong" />
  </wsdl:message>
  <wsdl:message name="Cap_Nhat_Tra_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Cap_Nhat_Tra_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Them_Phieu_Thue_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Them_Phieu_Thue_Phong" />
  </wsdl:message>
  <wsdl:message name="Them_Phieu_Thue_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Them_Phieu_Thue_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Phong" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_QLKSSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_QLKS" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_QLKSSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_QLKSResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_QLKVSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_QLKV" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_QLKVSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_QLKVResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_TangSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Tang" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_TangSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_TangResponse" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Tiep_TanSoapIn">
    <wsdl:part name="parameters" element="tns:Tai_DS_Tiep_Tan" />
  </wsdl:message>
  <wsdl:message name="Tai_DS_Tiep_TanSoapOut">
    <wsdl:part name="parameters" element="tns:Tai_DS_Tiep_TanResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khach_San">
      <wsdl:input message="tns:Tai_DS_Khach_SanSoapIn" />
      <wsdl:output message="tns:Tai_DS_Khach_SanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khu_Vuc">
      <wsdl:input message="tns:Tai_DS_Khu_VucSoapIn" />
      <wsdl:output message="tns:Tai_DS_Khu_VucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Loai_Phong">
      <wsdl:input message="tns:Tai_DS_Loai_PhongSoapIn" />
      <wsdl:output message="tns:Tai_DS_Loai_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Gia_Loai_Phong">
      <wsdl:input message="tns:Cap_Nhat_Gia_Loai_PhongSoapIn" />
      <wsdl:output message="tns:Cap_Nhat_Gia_Loai_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phieu_Thue">
      <wsdl:input message="tns:Tai_DS_Phieu_ThueSoapIn" />
      <wsdl:output message="tns:Tai_DS_Phieu_ThueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Tra_Phong">
      <wsdl:input message="tns:Cap_Nhat_Tra_PhongSoapIn" />
      <wsdl:output message="tns:Cap_Nhat_Tra_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Them_Phieu_Thue_Phong">
      <wsdl:input message="tns:Them_Phieu_Thue_PhongSoapIn" />
      <wsdl:output message="tns:Them_Phieu_Thue_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phong">
      <wsdl:input message="tns:Tai_DS_PhongSoapIn" />
      <wsdl:output message="tns:Tai_DS_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKS">
      <wsdl:input message="tns:Tai_DS_QLKSSoapIn" />
      <wsdl:output message="tns:Tai_DS_QLKSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKV">
      <wsdl:input message="tns:Tai_DS_QLKVSoapIn" />
      <wsdl:output message="tns:Tai_DS_QLKVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tang">
      <wsdl:input message="tns:Tai_DS_TangSoapIn" />
      <wsdl:output message="tns:Tai_DS_TangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tiep_Tan">
      <wsdl:input message="tns:Tai_DS_Tiep_TanSoapIn" />
      <wsdl:output message="tns:Tai_DS_Tiep_TanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khach_San">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Khach_San" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khu_Vuc">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Khu_Vuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Loai_Phong">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Loai_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Gia_Loai_Phong">
      <soap:operation soapAction="http://tempuri.org/Cap_Nhat_Gia_Loai_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phieu_Thue">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Phieu_Thue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Tra_Phong">
      <soap:operation soapAction="http://tempuri.org/Cap_Nhat_Tra_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them_Phieu_Thue_Phong">
      <soap:operation soapAction="http://tempuri.org/Them_Phieu_Thue_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phong">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKS">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_QLKS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKV">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_QLKV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tang">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Tang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tiep_Tan">
      <soap:operation soapAction="http://tempuri.org/Tai_DS_Tiep_Tan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khach_San">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Khach_San" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Khu_Vuc">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Khu_Vuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Loai_Phong">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Loai_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Gia_Loai_Phong">
      <soap12:operation soapAction="http://tempuri.org/Cap_Nhat_Gia_Loai_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phieu_Thue">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Phieu_Thue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cap_Nhat_Tra_Phong">
      <soap12:operation soapAction="http://tempuri.org/Cap_Nhat_Tra_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them_Phieu_Thue_Phong">
      <soap12:operation soapAction="http://tempuri.org/Them_Phieu_Thue_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Phong">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKS">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_QLKS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_QLKV">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_QLKV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tang">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Tang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tai_DS_Tiep_Tan">
      <soap12:operation soapAction="http://tempuri.org/Tai_DS_Tiep_Tan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:65447/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:65447/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>