src/1312179_XML_QLKS2_1/UD_Tiep_Tan/Service References/BusinessServiceRef/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thay_Doi_Gia_Phong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_Don_Gia_Moi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thay_Doi_Gia_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Thay_Doi_Gia_PhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tim_Loai_Phong_Theo_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tim_Loai_Phong_Theo_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tim_Loai_Phong_Theo_IDResult" type="tns:CLoaiPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CLoaiPhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_Don_Gia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Tien_Nghi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_So_Khach_Toi_Da" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:element name="Tinh_Doanh_Thu_Nam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_Thu_NamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Tinh_Doanh_Thu_NamResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_Thu_Thang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Thang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_Thu_ThangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Tinh_Doanh_Thu_ThangResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_Thu_Loai_Phong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Thang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_Thu_Loai_PhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tinh_Doanh_Thu_Loai_PhongResult" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tinh_Doanh_Thu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tinh_Doanh_ThuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tinh_Doanh_ThuResult" type="tns:ArrayOfCDoanhThuThang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCDoanhThuThang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CDoanhThuThang" nillable="true" type="tns:CDoanhThuThang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CDoanhThuThang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_Doanh_Thu_LP1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_Doanh_Thu_LP2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_Doanh_Thu_LP3" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Tim_Phong_Theo_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tim_Phong_Theo_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tim_Phong_Theo_IDResult" type="tns:CPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CPhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ma_So" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Loai_Phong" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID_Tang" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Kiem_Tra_Dang_Nhap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Ten_Dang_Nhap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Mat_Khau" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Loai_Nhan_Vien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Kiem_Tra_Dang_NhapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Kiem_Tra_Dang_NhapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thong_Tin_Khach_San">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Thong_Tin_Khach_SanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Thong_Tin_Khach_SanResult" type="tns:CKhachSan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CKhachSan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Dien_Thoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Dia_Chi" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Thay_Doi_Gia_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Thay_Doi_Gia_Phong" />
  </wsdl:message>
  <wsdl:message name="Thay_Doi_Gia_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Thay_Doi_Gia_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Tim_Loai_Phong_Theo_IDSoapIn">
    <wsdl:part name="parameters" element="tns:Tim_Loai_Phong_Theo_ID" />
  </wsdl:message>
  <wsdl:message name="Tim_Loai_Phong_Theo_IDSoapOut">
    <wsdl:part name="parameters" element="tns:Tim_Loai_Phong_Theo_IDResponse" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_NamSoapIn">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_Nam" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_NamSoapOut">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_NamResponse" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_ThangSoapIn">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_Thang" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_ThangSoapOut">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_ThangResponse" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_Loai_PhongSoapIn">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_Loai_Phong" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_Thu_Loai_PhongSoapOut">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu_Loai_PhongResponse" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_ThuSoapIn">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_Thu" />
  </wsdl:message>
  <wsdl:message name="Tinh_Doanh_ThuSoapOut">
    <wsdl:part name="parameters" element="tns:Tinh_Doanh_ThuResponse" />
  </wsdl:message>
  <wsdl:message name="Tim_Phong_Theo_IDSoapIn">
    <wsdl:part name="parameters" element="tns:Tim_Phong_Theo_ID" />
  </wsdl:message>
  <wsdl:message name="Tim_Phong_Theo_IDSoapOut">
    <wsdl:part name="parameters" element="tns:Tim_Phong_Theo_IDResponse" />
  </wsdl:message>
  <wsdl:message name="Kiem_Tra_Dang_NhapSoapIn">
    <wsdl:part name="parameters" element="tns:Kiem_Tra_Dang_Nhap" />
  </wsdl:message>
  <wsdl:message name="Kiem_Tra_Dang_NhapSoapOut">
    <wsdl:part name="parameters" element="tns:Kiem_Tra_Dang_NhapResponse" />
  </wsdl:message>
  <wsdl:message name="Thong_Tin_Khach_SanSoapIn">
    <wsdl:part name="parameters" element="tns:Thong_Tin_Khach_San" />
  </wsdl:message>
  <wsdl:message name="Thong_Tin_Khach_SanSoapOut">
    <wsdl:part name="parameters" element="tns:Thong_Tin_Khach_SanResponse" />
  </wsdl:message>
  <wsdl:portType name="BusinessServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Thay_Doi_Gia_Phong">
      <wsdl:input message="tns:Thay_Doi_Gia_PhongSoapIn" />
      <wsdl:output message="tns:Thay_Doi_Gia_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tim_Loai_Phong_Theo_ID">
      <wsdl:input message="tns:Tim_Loai_Phong_Theo_IDSoapIn" />
      <wsdl:output message="tns:Tim_Loai_Phong_Theo_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Nam">
      <wsdl:input message="tns:Tinh_Doanh_Thu_NamSoapIn" />
      <wsdl:output message="tns:Tinh_Doanh_Thu_NamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Thang">
      <wsdl:input message="tns:Tinh_Doanh_Thu_ThangSoapIn" />
      <wsdl:output message="tns:Tinh_Doanh_Thu_ThangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Loai_Phong">
      <wsdl:input message="tns:Tinh_Doanh_Thu_Loai_PhongSoapIn" />
      <wsdl:output message="tns:Tinh_Doanh_Thu_Loai_PhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu">
      <wsdl:input message="tns:Tinh_Doanh_ThuSoapIn" />
      <wsdl:output message="tns:Tinh_Doanh_ThuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tim_Phong_Theo_ID">
      <wsdl:input message="tns:Tim_Phong_Theo_IDSoapIn" />
      <wsdl:output message="tns:Tim_Phong_Theo_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Kiem_Tra_Dang_Nhap">
      <wsdl:input message="tns:Kiem_Tra_Dang_NhapSoapIn" />
      <wsdl:output message="tns:Kiem_Tra_Dang_NhapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Thong_Tin_Khach_San">
      <wsdl:input message="tns:Thong_Tin_Khach_SanSoapIn" />
      <wsdl:output message="tns:Thong_Tin_Khach_SanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessServiceSoap" type="tns:BusinessServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thay_Doi_Gia_Phong">
      <soap:operation soapAction="http://tempuri.org/Thay_Doi_Gia_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tim_Loai_Phong_Theo_ID">
      <soap:operation soapAction="http://tempuri.org/Tim_Loai_Phong_Theo_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Nam">
      <soap:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Nam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Thang">
      <soap:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Thang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Loai_Phong">
      <soap:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Loai_Phong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu">
      <soap:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tim_Phong_Theo_ID">
      <soap:operation soapAction="http://tempuri.org/Tim_Phong_Theo_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kiem_Tra_Dang_Nhap">
      <soap:operation soapAction="http://tempuri.org/Kiem_Tra_Dang_Nhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thong_Tin_Khach_San">
      <soap:operation soapAction="http://tempuri.org/Thong_Tin_Khach_San" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BusinessServiceSoap12" type="tns:BusinessServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thay_Doi_Gia_Phong">
      <soap12:operation soapAction="http://tempuri.org/Thay_Doi_Gia_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tim_Loai_Phong_Theo_ID">
      <soap12:operation soapAction="http://tempuri.org/Tim_Loai_Phong_Theo_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Nam">
      <soap12:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Nam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Thang">
      <soap12:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Thang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu_Loai_Phong">
      <soap12:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu_Loai_Phong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tinh_Doanh_Thu">
      <soap12:operation soapAction="http://tempuri.org/Tinh_Doanh_Thu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tim_Phong_Theo_ID">
      <soap12:operation soapAction="http://tempuri.org/Tim_Phong_Theo_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kiem_Tra_Dang_Nhap">
      <soap12:operation soapAction="http://tempuri.org/Kiem_Tra_Dang_Nhap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Thong_Tin_Khach_San">
      <soap12:operation soapAction="http://tempuri.org/Thong_Tin_Khach_San" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port name="BusinessServiceSoap" binding="tns:BusinessServiceSoap">
      <soap:address location="http://localhost:61256/BusinessService.asmx" />
    </wsdl:port>
    <wsdl:port name="BusinessServiceSoap12" binding="tns:BusinessServiceSoap12">
      <soap12:address location="http://localhost:61256/BusinessService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>